* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* background-colors */
:root {
  --bg-color: #f5f8ff;
  --title-color-1: #000000;
  --title-color-2: #e95a08;
  --desc-color: #9fa1a6;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
}
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}

.text-title {
  font-family: "Noto Serif", serif;
}

/* sheared classes */
.primary-btn {
  padding: 10px 50px;
  border: none;
  background-color: var(--title-color-2);
  color: #fff;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  gap: 48px;
}
.nav-link-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: var(--desc-color);
}

.nav-links li:first-child a {
  color: var(--title-color-1);
}

.nav-links li:last-child a {
  color: var(--title-color-1);
}

/* bannar section styles */
.banner {
  display: flex;
  align-items: flex-end;
  margin: 120px 0;
}
.banner-info {
  flex: 1;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 13px;
}
.s1 {
  color: var(--title-color-1);
}

.s2 {
  color: var(--title-color-2);
}
.banner-desc {
  color: var(--desc-color);
  font-size: 1.3rem;
}
.banner-img {
  display: block;
  flex: 1;
  border: 1px dashed var(--desc-color);
}

/* plants Section */
.plants {
  margin-top: 60px;
}
.plants-title {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
}
.plants-desc {
  color: var(--desc-color);
  font-size: 1.1rem;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 49px;
}
.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-img {
  width: 100%;
}
.card-title {
  color: var(--title-color-1);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}
.card-price {
  font-size: 1.3rem;
  color: var(--title-color-1);
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.card button {
  display: block;
  width: 100%;
}
/* responsive design for small screen */

@media screen and (max-width: 576px) {
  /* nav */
  nav {
    padding: 0 7px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-img {
    width: 63px;
    height: 38px;
  }
  .nav-links li:nth-child(-n + 3) {
    display: none;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-desc {
    font-size: 1rem;
  }
  .banner-img {
    max-width: 100%;
    border: none;
  }
  .banner-info {
    padding: 28px 16px;
  }

  /* plant */

  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
  }
  .plants-title {
    font-size: 2.5rem;
  }
  .plants-desc {
    font-size: 1rem;
    padding: 0 12px;
    margin-bottom: 28px;
  }

  .card-title {
    font-size: 1rem;
  }
  .card-price {
    font-size: 1rem;
  }
  .card button {
    font-size: 0.7rem;
  }
}
