* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* background-colors */
:root {
  --bg-color: #f5f8ff;
  --title-color-1: #000000;
  --title-color-2: #e95a08;
  --desc-color: #9fa1a6;
  --bg-title: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
}
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}

.text-title {
  font-family: "Noto Serif", serif;
}

/* sheared classes */
.primary-btn {
  padding: 18px 50px;
  border: none;
  background-color: var(--title-color-2);
  color: #fff;
  cursor: pointer;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  gap: 48px;
}
.nav-link-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: var(--desc-color);
}

.nav-links li:first-child a {
  color: var(--title-color-1);
}

.nav-links li:last-child a {
  color: var(--title-color-1);
}

/* bannar section styles */
.banner {
  display: flex;
  align-items: flex-end;
  margin: 120px 0;
}
.banner-info {
  flex: 1;
  padding-right: 10px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.s1 {
  color: var(--title-color-1);
}

.s2 {
  color: var(--title-color-2);
}
.banner-desc {
  color: var(--desc-color);
  font-size: 1.3rem;
}
.banner-img {
  display: block;
  flex: 1;
  border: 1px dashed var(--desc-color);
}

/* our plants Section */
.plants {
  margin-top: 60px;
}
.plants-title {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
}
.plants-desc {
  color: var(--desc-color);
  font-size: 1.1rem;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 49px;
}
.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-img {
  width: 100%;
}
.card-title {
  color: var(--title-color-1);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}
.card-price {
  font-size: 1.3rem;
  color: var(--title-color-1);
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.card button {
  display: block;
  width: 100%;
}

/* flower and plant styles */
.flower-and-plants {
  display: flex;
  margin-top: 210px;
  gap: 60px;
}
.flower-image-container {
  position: relative;
}

.img-1 {
  border: 1px dashed var(--desc-color);
}

.img-2 {
  max-width: 286px;
  position: absolute;
  top: -128px;
  left: 345px;
}

.flower-info {
  margin-top: 32px;
}
.flower-title {
  font-size: 3.4rem;
}
.flower-info ul {
  padding: 10px 30px;
}
.flower-info ul li {
  font-size: 1.3rem;
  color: var(--desc-color);
  padding: 15px 0;
  line-height: 27px;
}

/* latest deals section */
.latest-deals {
  margin-top: 133px;
}

.latest-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: var(--title-color-1);
  text-align: center;
  margin-bottom: 16px;
}
#span {
  color: var(--title-color-2);
}

.latest-desc {
  font-size: 1.3rem;
  color: var(--desc-color);
  text-align: center;
  margin-bottom: 100px;
}
.image-container {
  display: flex;
  gap: 15px;
  min-height: 403px;
}
.image-contain {
  display: flex;
  flex-direction: column;
  width: 32%;
  gap: 15px;
}
.img-bg-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/deal-bloom.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 26px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-bg-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  padding: 50px 26px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deals-title {
  color: var(--bg-title);
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.deal-a {
  font-size: 1rem;
  color: var(--bg-title);
  font-weight: 600;
  display: block;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}
.image-container-2 h4 {
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.image-container-2 a {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* join section */
footer {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 120px;
}
.join {
  height: 533px;
}

.join-container {
  background-image: url("../assets/news-letter-bg.png");
  max-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.subscribe {
  display: flex;
  width: 60%;
}
.join-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: var(--bg-title);
}

.subscribe input {
  padding: 20px 15px;
  display: block;
  width: 100%;
  border: none;
}

/* footer section */
.footer {
  padding: 50px 160px;
}
.footer-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.container-1 {
  flex: 1;
}
.container-1 p {
  font-size: 1.3rem;
  color: var(--desc-color);
  margin-top: 16px;
}
.container-2 {
  flex: 2;
  display: flex;
  gap: 90px;
}
.container-2 ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-2 ul li {
  list-style: none;
}
.container-2 ul li a {
  text-decoration: none;
  color: var(--desc-color);
}
.container-1 {
  flex: 3;
}

.container-3 {
  display: flex;
  gap: 24px;
}
.container-3 img {
  width: 33px;
  height: 33px;
  display: block;
}
#x {
  width: 29px;
  height: 29px;
}

/* responsive design for small screen */
@media screen and (max-width: 576px) {
  /* nav */
  nav {
    padding: 0 7px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-img {
    width: 63px;
    height: 38px;
  }
  .nav-links li:nth-child(-n + 3) {
    display: none;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-desc {
    font-size: 1rem;
  }
  .banner-img {
    max-width: 100%;
    border: none;
  }
  .banner-info {
    padding: 28px 16px;
  }

  /* plant */

  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
  }
  .plants-title {
    font-size: 2.5rem;
  }
  .plants-desc {
    font-size: 1rem;
    padding: 0 20px;
    margin-bottom: 28px;
  }

  .card-title {
    font-size: 1rem;
  }
  .card-price {
    font-size: 1rem;
  }
  .card button {
    font-size: 0.7rem;
  }

  /* flower and plants */

  .flower-and-plants {
    flex-direction: column;
    gap: 13px;
    margin-top: 41px;
    padding: 0 20px;
  }
  .img-1 {
    max-width: 100%;
  }
  .img-2 {
    display: none;
  }
  .flower-info {
    margin-top: 0;
  }
  .flower-title {
    font-size: 1.5rem;
  }

  .flower-info ul {
    padding: 15px 30px;
  }

  .flower-info ul li {
    font-size: 0.8rem;
    padding: 5px 0;
    line-height: 18px;
  }

  /* latest deals */
  .latest-deals {
    max-width: 100%;
    padding: 15px;
    margin-top: 100px;
  }
  .latest-title {
    font-size: 1.5rem;
  }

  .latest-desc {
    font-size: 0.8rem;
    margin-bottom: 45px;
    padding: 0 20px;
  }

  .image-container {
    flex-direction: column;

    height: 403px;
  }
  .image-contain {
    flex-direction: column;

    width: 100%;
    gap: 15px;
  }

  .img-bg-1 {
    border-radius: 10px;
    padding: 80px 0;
  }

  .img-bg-2 {
    border-radius: 10px;
    padding: 80px 0;
  }

  .image-container-2 {
    max-width: 100%;
    border-radius: 10px;
    padding: 80px 0;
  }

  .deals-title {
    font-size: 1.2rem;
  }

  .deal-a {
    font-size: 1rem;
    margin-top: 5px;
  }
  .image-container-2 h4 {
    font-size: 1rem;
  }
  .image-container-2 a {
    font-size: 1rem;
  }
  /* join section */
  footer {
    margin-top: 300px;
  }
  .subscribe {
    display: flex;
    max-width: 70%;
  }
  .join-title {
    text-align: center;
    font-size: 1.2rem;
  }
  .join {
    height: 300px;
  }
  .join-container {
    height: auto;
  }
  .subscribe {
    width: 80%;
  }
  .subscribe input {
    max-width: 100%;
    padding: 13px 15px;
  }
  .subscribe button {
    padding: 10px 17px;
  }

  /* footer */
  .footer {
    margin-top: 30px;
    padding: 20px;
  }
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  .container-1 p {
    font-size: 1rem;
  }
  .container-2 {
    flex-direction: column;
    gap: 24px;
  }
}
